<% include ../partials/header %>

<div class="container">
    <div class="row">
    <h1 style = "text-align: center">Edit comment about her holiness to ... </h1>
        <div style= "width: 30%; margin: 2rem auto">
        

        <form action="/cleanerProfiles/<%= cleaner_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            
            
            <div class ="form-group">
            <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
            </div>    
            <button class="btn btn-primary btn-block" type="">Submit!</button><br />
            </form>
                <a href="/cleanerProfiles">
                    <-- Go back</a> </div> </div> <% include ../partials/footer %>
        </div>
    </div>
</div>
